node_modules
# netbeans IDE
nbproject
app-web-auth3/node_modules
.git
dump.rdb
dist
# volume data
var-pryv/
# skip build related files except for dockerized-config
configs/production-with-ssl-docker
configs/production-no-ssl-docker
configs/local-docker/rec.la-certificates
configs/local-docker/dhparam.pem
configs/local-docker/docker-compose.no-ssl.yml
configs/local-docker/docker-compose.with-ssl.yml
configs/local-docker/Dockerfile
build-local.sh

# non functional files
README.md