node_modules
# netbeans IDE
nbproject
app-web-auth3/node_modules
.git
dump.rdb
dist
# volume data
var-pryv/
# skip build related files except for dockerized-config
production-with-ssl-docker
production-no-ssl-docker
local/rec.la-certificates
local/dhparam.pem
local/docker-compose.no-ssl.yml
local/docker-compose.with-ssl.yml
local/Dockerfile
build-local.sh

# non functional files
README.md